on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Upload Release Asset

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      deployments: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Get release version
      run: |
          TAG=${{ github.ref_name }}
          echo "VERSION=${TAG#v}" >> $GITHUB_ENV

    - name: Decode Keystore
      env:
        ENCODED_STRING: ${{ secrets.SIGNING_KEY_STORE_BASE64 }}
        SIGNING_KEY_STORE_PATH: ${{ secrets.SIGNING_KEY_STORE_PATH }}
      run: |
          echo $ENCODED_STRING > keystore-b64.txt
          base64 -d keystore-b64.txt > android/$SIGNING_KEY_STORE_PATH

    # Configure Gradle for optimal use in GiHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0

    - name: Build with Gradle Wrapper
      env:
        SIGNING_KEY_STORE_PATH: ${{ secrets.SIGNING_KEY_STORE_PATH }}
        SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
        SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
        SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
      run: |
          echo ${{ github.ref_name }} > assets/data/version.txt
          chmod u+x gradlew
          ./gradlew html:dist
          rm -rf html/build/dist/WEB-INF
          mv html/build/dist/functions html/build
          cd html/build
          mv dist jvic-web-${{ github.ref_name }}
          zip -r jvic-web-${{ github.ref_name }}.zip jvic-web-${{ github.ref_name }}
          cd ../..
          mv html/build/jvic-web-${{ github.ref_name }}.zip .
          echo "About to build Desktop version..."
          ./gradlew lwjgl3:jar
          ls -ltra lwjgl3/build/lib
          find lwjgl3/build
          mv lwjgl3/build/lib/jvic-${VERSION}.jar jvic-desktop-${VERSION}.jar
          ./gradlew android:assembleRelease
          mv android/build/outputs/apk/release/*.apk jvic-android-${VERSION}.apk

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          jvic-*.*
